<h1>Divisions</h1>
@if (divisions){
    <table class='table table-striped' aria-labelledby="tableLabel">
        <thead>
          <tr>
            <th>Division</th>
          </tr>
        </thead>
        <tbody>
          @for (division of divisions; track division.id) {
            <tr>
              <td>{{ division.name }} - </td>
              <td>
                <ul>
                  <!-- Loop over teams for each division -->
                  @for (team of division.teams; track team.id){
                    <td> <a [routerLink]="['/teams', team.id]">{{ team.name }}</a></td>
                }
                </ul>
              </td>
            </tr>  
          }
        </tbody>
      </table>
} @else {
    <p><em>Loading...</em></p>
}