@if (player) {
  <div class="position-player-container">
    <h2>{{ player.name }}</h2>

    <div class="stats-table-wrapper">
      <table class="stats-table">
        <thead>
          <tr>
            <th>G</th>
            <th>PA</th>
            <th>AB</th>
            <th>BA</th>
            <th>H</th>
            <th>2B</th>
            <th>3B</th>
            <th>HR</th>
            <th>R</th>
            <th>RBI</th>
            <th>IBB</th>
            <th>SO</th>
            <th>HBP</th>
            <th>SF</th>
            <th>SH</th>
            <th>GDP</th>
            <th>SB</th>
            <th>CS</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ player.games_Played }}</td>
            <td>{{ player.plate_Appearances }}</td>
            <td>{{ player.at_Bats }}</td>
            <td>{{ player.batting_Average }}</td>
            <td>{{ player.hits }}</td>
            <td>{{ player.doubles }}</td>
            <td>{{ player.triples }}</td>
            <td>{{ player.home_Runs }}</td>
            <td>{{ player.runs_Scored }}</td>
            <td>{{ player.rbi }}</td>
            <td>{{ player.intentional_Walks }}</td>
            <td>{{ player.strikeouts }}</td>
            <td>{{ player.hbp }}</td>
            <td>{{ player.sac_Fly }}</td>
            <td>{{ player.sac_Hit }}</td>
            <td>{{ player.gdp }}</td>
            <td>{{ player.stolen_Bases }}</td>
            <td>{{ player.caught_Stealing }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
} @else {
  <p><em>Loading...</em></p>
}
