@if (player) {
    <h2>{{ player.firstName }} {{ player.lastName }}</h2>
    <table class='table table-striped' aria-labelledby="tableLabel">
      <thead>
        <tr>
          <th>G</th>
          <th>PA</th>
          <th>AB</th>
          <th>H</th>
          <th>HR</th>
          <th>RBI</th>
          <th>SO</th>
          <th>BB</th>
          <th>SB</th>
          <th>CS</th>
          <th>BA</th>
          <th>OBP</th>
          <th>SLG</th>
          <th>OPS</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td>{{ player.gamesPlayed }}</td>
            <td>{{ player.plateAppearances }}</td>
            <td>{{ player.atBats }}</td>
            <td>{{ player.hits }}</td>
            <td>{{ player.homeRuns }}</td>
            <td>{{ player.rbis }}</td>
            <td>{{ player.strikeouts }}</td>
            <td>{{ player.walks }}</td>
            <td>{{ player.stolenBases }}</td>
            <td>{{ player.caughtStealing }}</td>
            <td>{{ player.battingAverage }}</td>
            <td>{{ player.obp }}</td>
            <td>{{ player.slg }}</td>
            <td>{{ player.ops }}</td>
          </tr>  
        
      </tbody>
    </table>
  } @else {
    <p><em>Loading...</em></p>
  }
