@if(team){
    <h2>{{ team.name }}</h2>
    <p> Pitchers </p>
    @for (pitcher of team.pitchers; track pitcher.id){
        <td> <a [routerLink]="['/pitcher', pitcher.id]">
            {{ pitcher.firstName }} {{ pitcher.lastName }}
            </a>
        </td>
    }
    <p> Hitters </p>
    @for (position_player of team.position_Players; track position_player.id){
        <td> 
            <a [routerLink]="['/position_player', position_player.id]">
                {{ position_player.firstName }} {{ position_player.lastName }}
            </a>
        </td>
    }
}@else {
    <p><em>Loading...</em></p>
}

  